html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	scroll: none;
}

body {
	height: 100%;
	padding: 0;
	overflow: auto;
	margin: 0;
	scroll: none;
	font-family: Helvetica, sans-serif;
}

label.disabled-label {
	color: #ccc;
}

.toolbar {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #2f71a9;
	padding-right: 20px;
	box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.5);
	z-index: 100;
}

	.toolbar-btn {
		margin: 5px 5px 0 5px;
		border-radius: 3px;
		padding: 5px 10px;
		text-align: center;
	}

	.toolbar-btn:hover {
		background: #10548f;
	}

	.toolbar-btn:active {
		background: #1777ca;
	}
	.wiscsims {
		width: 42px;
		height: 40px;
		margin: 5px 5px 0 5px;
		background:url(../img/logo2.png);
		cursor: pointer;
	}
	.wiscsims:hover {
		filter: drop-shadow(0 1px 2px rgba(0,0,0,0.5));
	}
	.flagbox {
		position: absolute;
		width: calc(100% - 310px);
		height: 50px;
		left: 46px;
		overflow: hidden;
	}
	.flags {
		position: relative;
		height: 50px;
		width: calc(100% - 43px - 15px);
		top: -2px;
		left: calc(-1 * (100% - 20px));
		background-image:url(../img/flags2.png);
		background-repeat: repeat-x;
		background-position: 100% 0%;
		filter: drop-shadow(0 2px 5px rgba(0,0,0,0.8));
	}

	.flags.on {
		left: 15px;
	}

	.monkey {
		position: absolute;
		width: 43px;
		height: 50px;
		right: -43px;
		background-image: url(../img/monkey2.png);
		background-position: 100% 100%;
		/*background-attachment: fixed;*/
	}

	.on .monkey {
	}


.main {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #ccc;
	overflow: hidden;
}

.graph-area,
.list-area {
	/*float: left;*/
}

.list-area {
	position: absolute;
	top: 0;
	right: 0;
	background: #337AB7;
	color: #666;
}
.select-dir-btn {
	position: relative;
	height: 30px;
	width: 250px;
	color: white;
	background: #FC4482;
	line-height: 30px;
	padding: 0;
}
.folder-icon,
.search-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	margin: 8px 0 0 8px;
}

.refresh-icon {
	top: 8px;
  right: 2px;
}

.folder-name {
	width: 220px;
	margin-left: 33px;
	padding-right: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search-box {
	position: relative;
	height: 30px;
	width: 250px;
	color: white;
	background: #5795cb;
	line-height: 30px;
	padding: 0;
}
.search-word {
	width: 200px;
	margin: 5px 0 0 33px;
	padding: 0 0 0 3px;
	font-size: 16px;
	line-height: 16px;
	background: #5795cb;
	color: white;
	border: none;
	border-bottom: 1px solid #b7b7b7;
	outline: none;
}

.remove-icon {
	position: absolute;
	right: 3px;
	top: 5px;
	color: #ccc;
}

.hit-numbers {
	position: absolute;
	right: 0;
	top: 27px;
	padding: 5px;
	font-size: 10px;
	text-align: right;
	line-height: 10px;
	color: #eee;
	background: #6B8AB9;

	background: #5795cb;
	border-bottom-left-radius: 3px;
	display: none;
	z-index: 200;
}

.search-box.active,
.hit-numbers.active {
	box-shadow: 0 6px 10px -7px black;
}

.asc-list {
	width: 250px;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 12px;
	overflow: scroll;
	overflow-x: visible;
}

.asc-file {
	position: relative;
	margin: 0 5px 0 10px;
	padding: 10px 0;
	color: white;
	border-bottom: 1px solid #4a85b7;
}

.asc-file:hover {
	border-bottom: 1px solid #487AB0;
	border-top: 1px solid #487AB0;
	margin: -1px 0 0 0;
	padding-left: 10px;
	padding-right: 5px;
	background: #4F87C2;
	cursor: pointer;
	z-index: 30;
}
.asc-file:active {
	box-shadow: 0 3px 10px -7px black;
}
.asc-file.current {
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right: 5px;
	background: #fff;
	/*color: #337AB7;*/
	color: #FC4482;
	box-shadow: 0 4px 10px -7px black;
}
.asc-file.current:hover {
	color: red;
	color: #FC4482;
}
.asc-file p {
	margin: 0;
}
.asc-file:hover > .asc-file-name {
	color: #f0f0f0;
}
.asc-file.current > .asc-file-name {
	color: #aaa;
}

.asc-file-name {
	color: #ccc;
}

.asc-file-comment-origin {
    position: absolute;
    top: -1px;
    right: -5px;
    font-size: 80%;
    opacity: 0.5;
    z-index: 1;
}

.asc-file:hover .asc-file-comment-origin,
.asc-file.current .asc-file-comment-origin {
	right: 0;
}

.graph-area {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fefefa;
	background: #fff;
}

.resetMaskBtn {
	position: absolute;
	top: 8px;
	right: 270px;
	height: 18px;
	font-size: 8px;
	line-height: 13px;
}

.clipboard-alert {
	position: absolute;
	width: 460px;
	top: 20px;
	left: calc((100% - 250px)/2 - 230px);
	font-size: 120%;
}

.clipboard-alert strong {
	margin-right: 5px;
}
.legend,
.axis,
.average-text {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
}
/*.modal.fade.nofly {
    top: 10%;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}*/
.modal.fade.ui-draggable-dragging {
    -webkit-transition: none;
    transition: none;
}

/*@media print {
	.toolbar,
	.list-area,
	.current-values,
	.vline {
		display: none;
	}
	svg {page-break-after: always;}
}
*/
